@import '../../styles/utils/_helpers.scss';

////////////////////////////////////////////////////////////////////////////////////////
// EDIT NOTES

.edit--notes {
  ul li {
    display: flex;
    margin-bottom: calc-em(10px);
    label {
      width: calc-em(150px);
      color: #333333;
      flex-shrink: 0;
      font-size: calc-em(17px);
      font-weight: bold;
      padding-top: calc-em(15px);
    }
    textarea {
      height: calc-em(185px);
    }
    .delete-note {
      margin-left: 20px;
    }
  }
}
