////////////////////////////////////////////////////////////////////////////////////////
// GLOBAL MODAL STYLES

pre {
  background: #EEE;
  margin: $padding-large;
  padding: $padding-large;
  border-radius: $padding-default;
  overflow-x: auto;
}

// Card Styles
.card {
  border: 1px solid #CCC;
  width: 100%;
  // min-width: 440px;
  border-radius: 2px;
  display: inline-block;
  text-decoration: none;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    text-decoration: none;
    background: #EEE;
  }

  img { // TODO This assumes only one image per card
    float: right;
    max-width: 100px;
    margin-left: $padding-default;
  }

  .content {
    padding: $padding-default;

    h3 {
      color: #333;
    }

    h4 {
      font-size: 14px;

      span {
        display: inline-block;

        &::after {
          content: ' • ';
          padding: $padding-default;
        }

        &:last-of-type {
          &::after {
            content: ''
          }
        }
      }
    }

    p {
      font-size: 14px;
    }
  }
}

// Listing page action buttons
ul.actions {
  margin: $padding-xlarge 0;

  li {
    text-align: center;
    border: 1px solid $color-grey2;
    width: 128px;
    height: 128px;

    a {
      color: $color-textfade;
      padding: $padding-xlarge;
      display: block;
      width: 128px;
      height: 128px;

      .material-icons {
        display: block;
        margin: $padding-default $padding-default $padding-large;
        font-size: $padding-xxlarge;
      }
    }

    &:hover {
      background: $color-grey2;
      color: $color-title;
    }
  }
}

.tippy-tooltip {
  padding: 0;

  &:hover {
    .arrow-regular {
      background: #EEE;
    }
  }

  .card {
    border: 0;
    text-align: left;
  }
}

.right {
  text-align: right;
}

.block {
  display: block;
}

////////////////////////////////////////////////////////////////////////////////////////
// GLOBAL MODAL STYLES

pre {
  background: #EEE;
  margin: $padding-large;
  padding: $padding-large;
  border-radius: $padding-default;
  overflow-x: auto;
}

// Card Styles
.card {
  border: 1px solid #CCC;
  width: 100%;
  // min-width: 440px;
  border-radius: 2px;
  display: inline-block;
  text-decoration: none;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    text-decoration: none;
    background: #EEE;
  }

  img { // TODO This assumes only one image per card
    float: right;
    max-width: 100px;
    margin-left: $padding-default;
  }

  .content {
    padding: $padding-default;

    h3 {
      color: #333;
    }

    h4 {
      font-size: 14px;

      span {
        display: inline-block;

        &::after {
          content: ' • ';
          padding: $padding-default;
        }

        &:last-of-type {
          &::after {
            content: ''
          }
        }
      }
    }

    p {
      font-size: 14px;
    }
  }
}

// Listing page action buttons
ul.actions {
  margin: $padding-xlarge 0;

  li {
    text-align: center;
    border: 1px solid $color-grey2;
    width: 128px;
    height: 128px;

    a {
      color: $color-textfade;
      padding: $padding-xlarge;
      display: block;
      width: 128px;
      height: 128px;

      .material-icons {
        display: block;
        margin: $padding-default $padding-default $padding-large;
        font-size: $padding-xxlarge;
      }
    }

    &:hover {
      background: $color-grey2;
      color: $color-title;
    }
  }
}

.tippy-tooltip {
  padding: 0;

  &:hover {
    .arrow-regular {
      background: #EEE;
    }
  }

  .card {
    border: 0;
    text-align: left;
  }
}

.right {
  text-align: right;
}

.block {
  display: block;
}

.listing {
  &.text-page {
    h1,
    h2,
    h3 {
      padding-top: 26px;
      padding-bottom: 16px;
    }

    ul,
    ol {
      margin: 24px 0;
      padding-left: 36px;
    }

    ul {
      li {
        list-style-type: disc;
      }
    }

    ol {
      li {
        list-style-type: decimal;
        margin: 6px 0;

        ol {
          margin-top: 6px;
          padding-top: 6px;
          padding-bottom: 6px;
          padding-left: 16px;

          li {
            list-style-type: lower-roman;
          }
        }
      }
    }
  }
}
