@import '../../styles/utils/_helpers.scss';

//////////////////////////////////////////////////////////////////////////////////////////
// HERO

.hero.header-large {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(assets/hero-bg.png);
  background-color: rgba(239, 239, 239, 0.5);
  background-size: cover;
  width: 100%;
  padding: calc-em(105px) 0 calc-em(175px);
  @include r_max($break-tablet-s) {
    padding: calc-em(25px) 0 calc-em(150px);
  }

  .header-container {
    @extend %search-max-width;
    display: flex;
    @include r_max($break-tablet-s) {
      width: 100%;
      padding: 0 calc-em(20px) 0 calc-em(20px);
    }

    .header-text {
      width: 70%;
      @include r_max($break-tablet-s) {
        width: 100%;
      }

      p {
        color: $color-grey5;
      }

      h1 {
        @extend %font-size-hero;
        font-weight: 600;
        color: $color-grey8;
        @include r_max($break-tablet-s) {
          width: 100%;
          margin-top: calc-em(13px);
          max-width: 20rem;
        }
      }
    }

    .location-pins {
      width: 50%;
      position: relative;
      @include r_max($break-tablet-s) {
        display: none;
      }

      .location-pin {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: calc-em(42px);
        height: calc-em(56px);
        position: absolute;
        &.pin-1 {
          background-image: url(../../assets/img/location-pin-1.png);
          top: calc-em(35px);
          left: calc-em(10px);
        }
        &.pin-2 {
          background-image: url(../../assets/img/location-pin-2.png);
          top: calc-em(95px);
          left: calc-em(120px);
        }
        &.pin-3 {
          background-image: url(../../assets/img/location-pin-3.png);
          top: calc-em(-25px);
          left: calc-em(155px);
        }
      }
    }
  }
}

.hero .search-container {
  @extend %flex-row;
  @extend %search-max-width;
  margin: calc-em(40px) auto 0;
  @include r_max($break-tablet-s) {
    width: 100%;
    margin: calc-em(20px) auto 0;
    padding: 0 calc-em(20px) 0 calc-em(20px);
  }

  input, button {
    height: calc-em(60px);
  }
  .search-field {
    background-repeat: no-repeat;
    background-position: center;
    flex: 1 1 auto;
    height: calc-em(50px);
    background-image: url(assets/ic-search.png);
    background-size: calc-em(18px);
    background-position: calc-em(17px) center;
    background-color: $color-white;
    border-radius: 3px;
    padding-left: calc-em(45px);
    @include r_min($break-tablet-s) {
      border-right: 1px solid $color-grey3;
    }
  }
  .button.search {
    @extend %font-size-small;
    font-weight: 400;
    background-color: $color-brand;
    width: calc-em(118px);
    height: calc-em(50px);
    border-radius: calc-em(3px);
    margin-left: calc-em(15px);
    @include r_max($break-tablet-s) {
      display:none;
    }
  }
}
