.basic-block-shelter {
  background-image: url(../assets/img/basic-block-shelter.png);
}

.basic-block-meals {
  background-image: url(../assets/img/basic-block-meals.png);
}

.basic-block-lockers {
  background-image: url(../assets/img/basic-block-lockers.png);
}

.basic-block-showers {
  background-image: url(../assets/img/basic-block-showers.png);
}

.basic-block-medical {
  background-image: url(../assets/img/basic-block-medical.png);
}

.basic-block-benefits {
  background-image: url(../assets/img/basic-block-benefits.png);
}
