//////////////////////////////////////////////////////////////////////////////////////////
// HOME PAGE CATEGORY LIST

.category-list {
  @extend %search-max-width;
  margin: calc-em(30px) auto;

  header {
    margin-bottom: calc-em(25px);
    @include r_max($break-tablet-s) {
      margin-bottom: calc-em(20px);
    }
  }
}

.featured-categories {
  margin: calc-em(-160px) auto 0;
  @include r_max($break-tablet-s) {
    margin: calc-em(-145px) auto 0;
  }

  &__title {
    color: rgba(0, 0, 0, 0.6);
    display: block;
    font-size: 18px;
    margin-bottom: 1rem;

    @include r_max($break-tablet-p) {
      font-size: 16px;
    }
  }
}

.category-items {
  @extend %flex-row;
  margin: 0 auto;
  overflow-x: scroll;
}

.category-item {
  @include transition(all 200ms ease-in-out);
  display: flex;
  align-items: center;
  min-width: calc-em(150px);
  width: calc-em(150px);
  height: calc-em(150px);
  border: 1px solid #E0E0E0;
  border-radius: 3px;
  background-color: $color-white;
  &:not(:last-child) {
    margin-right: calc-em(10px);
  }
  &:active, &:hover, &:focus {
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  }
  @include r_max($break-tablet-s) {
    min-width: calc-em(125px);
    width: calc-em(125px);
    height: calc-em(125px);
  }
}

.category-button {
  display: block;
  text-align: center;
  &:hover {
    text-decoration: none;
  }
}

.category-button-icon {
  margin-bottom: calc-em(15px);
  img {
    width: auto;
    height: calc-em(42px);
  }
  @include r_max($break-tablet-s) {
    margin: 0;
    display: inline-block;
    width: calc-em(35px);
    text-align: center;
    img {
      height: calc-em(30px);
    }
  }
}

.category-button-title {
  word-break: keep-all;
  color: $color-grey8;
  padding: 0 1rem;
  @include r_max($break-tablet-s) {

  }
}
