//////////////////////////////////////////////////////////////////////////////////////////
// SITE FOOTER

.site-footer {
  @extend %flex-row;
  width: 100%;
  flex: 1 0 30vh;
  color: $color-white;
  min-height: calc-em(98px);
  background-color: $color-grey8;
  padding: calc-em(25px) 0;
  a {
    color: $color-white;
  }

  .service-guide {
    flex: 2 2 0vw;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 900;
  }

  .service-guide__icon {
    background-image: url(../assets/img/footer-icon.png);
    background-repeat: no-repeat;
    margin-right: 10px;
    height: 20px;
    width: 20px;
  }

  .service-guide__text {
    text-transform: uppercase;
  }
}

.site-footer__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: $max-container-width;
  margin: 0 auto;
  @include r_max($break-tablet-s) {
    width: auto;
  }
}

.site-footer__top {
  display: flex;
}

.site-footer__links {
  flex: 1 1 60vw;
  display: flex;
  justify-content: space-evenly;
  @include r_max($break-tablet-p) {
    display: none;
  }

  & > ul {
    h1 {
      font-weight: 900;
      text-transform: uppercase;
    }

    li, h1 {
      padding-bottom: 5px;
      @include r_max($break-tablet-p) {
        display: none;
        text-align: center;
        &:not(:last-child) {
          padding-right: 0;
        }
      }
    }
  }
}

.site-footer__disclosure {
  text-align: center;
  @include r_max($break-tablet-s) {
    display: block;
    padding-left: 0;
    text-align: center;
    padding-left: 0;
    padding-bottom: 23px;
  }
}
