//////////////////////////////////////////////////////////////////////////////////////////
// SITE FOOTER

.site-footer {
  @extend %flex-row;
  width: 100%;
  flex-shrink: 0;
  color: $color-white;
  min-height: calc-em(98px);
  background-color: $color-grey8;
  padding: calc-em(25px) 0;
  a {
    color: $color-white;
  }

  .footer-content {
    width: $max-container-width;
    margin: 0 auto;
    @include r_max($break-tablet-p) {
      width: auto;
    }

    .footer-text {
      display: inline-block;
      padding-left: calc-em(170px);
      @include r_max($break-tablet-p) {
        display: block;
        padding-left: 0;
        text-align: center;
        padding-left: 0;
        padding-bottom: 23px;
      }
    }
    .footer-links {
      float: right;
      display: inline-block;
      padding-right: calc-em(170px);
      @include r_max($break-tablet-p) {
        padding-right: 0;
        display: block;
        float: none;
      }
      & > li {
        text-align: left;
        display :inline-block;
        margin: 0 0 calc-em(10px) 0;
        &:not(:last-child) {
          padding-right: calc-em(40px);
        }

        @include r_max($break-tablet-p) {
          display: block;
          text-align: center;
          &:not(:last-child) {
            padding-right: 0;
          }
        }
      }
    }
  }
}
