.landing-page-eligibility-block {
  background-color: #FFF;
  margin: 50px 0;
  position: relative;
}

.landing-page-eligibility-block__resources {
  max-width: 945px;
  margin: 0 auto;
  max-height: 360px;
  position: relative;

  @include r_max($break-tablet-p) {
    margin: 0 20px;
  }

  .scroll-button {
    background: #FFF;
    border-radius: 50%;
    bottom: 50%;
    box-shadow: 2px 4px 4px #F7F7F7;
    color: #888;
    font-size: 32px;
    font-weight: bold;
    height: 50px;
    margin: auto;
    padding: 6px;
    text-align: center;
    top: 50%;
    transition: all .2s ease-in-out;
    width: 50px;
    z-index: 10;

    &:hover {
      transform: scale(1.2);
      background: #EEE;
    }

    &.scroll-button-left {
      position: absolute;
      left: -25px;
    }

    &.scroll-button-right {
      position: absolute;
      right: -25px;
    }
  }

  &__title {
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    margin-bottom: 15px;

    @include r_max($break-tablet-p) {
      font-size: 16px;
    }
  }
}

.landing-page-eligibility-block__resources-scroller {
  -ms-overflow-style: none;
  align-content: flex-start;
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  max-height: 200px;
  overflow-x: auto;
  overflow-y: hidden;
  overflow: -moz-scrollbars-none;
  position: relative;
  margin: 0 -5px;  // Set negative margin to allow for box-shadow to be visible

  &::-webkit-scrollbar {
    width: 0 !important
  }
}

.landing-page-eligibility-card {
  width: 305px;
  transition: all .2s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 5px 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  }

  @include r_max($break-tablet-p) {
    width: 240px;
  }

  &__title {
    margin: 0 15px 0 0;
    padding: 0;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .card-count {
    color: rgba(0, 0, 0, 0.38);
    font-size: 13px;
  }
}
