.landing-page-card {
  margin: 5px;
  height: 305px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 305px;
  z-index: 1;
}

.landing-page-card__title {
  font-size: 18px;
  color: black;
  padding-left: 5%;
  padding-top: 3%;
}

.langing-page-card__image {
  background-repeat: no-repeat;
  height: 50%;
  width: 100%;
}
