.legal-block__hammer {
  background-image: url(../assets/img/legal-block-hammer.png);
  position: relative;
  height: 180px;
  width: 180px;
  background-repeat: no-repeat;
  left: 8%;
  top: 202px;
  opacity: 0.2;
  @include r_max($break-tablet-p) {
    display: none;
  }
}

.legal-block__resources {
  background-color: #F7F7F7;
  padding: 50px 0;
}

.legal-block__resources-title {
  display: inline-block;
  font-size: 21px;
  padding: 0px 5px 15px 5px;
  z-index: 1;

  &.first-word {
    padding-left: 15.2%;
    @include r_max($break-tablet-p) {
      padding: 0;
    }
  }

  &.blue-word {
    color: blue;
  }
}

.legal-block__cards {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15%;
  @include r_max($break-tablet-p) {
    padding: 0;
  }
}

.legal-block__cards-first-row, .legal-block__cards-second-row {
  display: flex;
}

.legal-block-housing {
  background-image: url(../assets/img/legal-block-housing.png);
}

.legal-block-immigration {
  background-image: url(../assets/img/legal-block-immigration.png);
}

.legal-block-family {
  background-image: url(../assets/img/legal-block-family.png);
}

.legal-block-criminal {
  background-image: url(../assets/img/legal-block-criminal.png);
}

.legal-block-work {
  background-image: url(../assets/img/legal-block-work.png);
}

.legal-block-benefits {
  background-image: url(../assets/img/legal-block-benefits.png);
}

.landing-page-card__content {
  padding-bottom: 5%;
  padding-left: 5%;
}
