.legal-block__resources-hammer {
  background-image: url(../assets/img/legal-block-hammer.png);
  height: 180px;
  width: 180px;
  background-repeat: no-repeat;
  left: -90px;
  top: 27px;
  opacity: 0.2;
  position: absolute;
  @include r_max($break-tablet-l) {
    display: none;
  }
}

.legal-block-housing {
  background-image: url(../assets/img/legal-block-housing.png);
}

.legal-block-immigration {
  background-image: url(../assets/img/legal-block-immigration.png);
}

.legal-block-family {
  background-image: url(../assets/img/legal-block-family.png);
}

.legal-block-criminal {
  background-image: url(../assets/img/legal-block-criminal.png);
}

.legal-block-work {
  background-image: url(../assets/img/legal-block-work.png);
}

.legal-block-benefits {
  background-image: url(../assets/img/legal-block-benefits.png);
}
