.partners {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px 25%;
  @include r_max($break-tablet-p) {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@mixin partner-logo {
  background-repeat: no-repeat;
  background-size: contain;
  @include r_max($break-tablet-p) {
    margin: auto;
    margin-bottom: 25px;
  }
}

.partners__bar {
  @include partner-logo;
  background-image: url(../assets/img/legal-block-jdc.png);
  height: 80px;
  width: 210px;
}

.partners__mayor {
  @include partner-logo;
  background-image: url(../assets/img/legal-block-mayor.png);
  height: 55px;
  width: 210px;
}

.partners__benetech {
  @include partner-logo;
  background-image: url(../assets/img/legal-block-benetech.png);
  height: 80px;
  width: 210px;
}
