.white-label {
  text-align: center;
  background-color: #F3F5F7;
  .white-label-seal {
    padding: 50px 0 25px 0;
    img {
    width: 150px;
    }  
  }

  .white-label-content {
    padding: 0 0 50px 0;

    .mohcd-info {
      padding: 0 60px 10px 60px;
    }
  }
  
}