.callout-block {
  background: #005FAA;
}

.callout-block__content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  max-width: 945px;
}

.callout-block__headline {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: normal;

  @include r_max($break-tablet-p) {
    font-size: 16px;
    text-align: center;
  }
}

.callout-block__subheadline {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.6);

  @include r_max($break-tablet-p) {
    font-size: 16px;
    text-align: center;
  }
}

.callout-block__image {
  background-repeat: no-repeat;
  max-width: 100%;
  flex: 0 0 150px;

  @include r_max($break-tablet-p) {
    flex-basis: 100px;
  }
}
