@import '../../styles/utils/_helpers.scss';

////////////////////////////////////////////////////////////////////////////////////////
// NAVIGATION

.siteNav {
  background: $color-white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

@mixin navRow {
  border-bottom: 1px solid $color-grey3;
}

.primaryRow {
  @extend %flex-row;
  @include navRow;
  height: calc-em(80px);
  justify-content: space-between;
  padding: calc-em(10px) calc-em(30px);
  @include r_max($break-tablet-s) {
    padding: 0 13px;
    height: 50px;
  }
}

.navLeft {
  display: flex;
  align-items: center;
}

.navRight {
  display: flex;
  li {
    &:not(:last-child) {
      padding-right: calc-em(20px);
    }
  }
  @include r_max($break-tablet-s) {
    display: none;
  }
}

.navLogo {
  display: inline-block;
  margin-right: calc-em(25px);
  vertical-align: top;
  img {
    height: calc-em(20px);
    width: auto;
  }
}

.navSearch {
  display: inline-block;
  @include r_max($break-tablet-s) {
    display: none !important;  // !important is needed to override .form-row
  }
  .searchField {
    background-repeat: no-repeat;
    background-image: url(../../assets/img/ic-search.png);
    background-size: 18px 18px;
    background-position: calc-em(15px) center;
    padding-left: calc-em(45px);
    width: calc-em(400px);
    height: calc-em(40px);
    border: 0;
    background-color: $color-grey1;
  }
}

.mobileNavigation {
  align-items: center;
  display: flex;

  @include r_min($break-tablet-s) {
    display: none;
  }
}

@mixin flat-button {
  padding: 0;

  &:active,
  &:hover,
  &:focus {
    box-shadow: none;
  }
}

.searchButton {
  @include flat-button;

  background: url(../../assets/img/ic-search-blue.svg) no-repeat;
  display: inline-block;
  height: 24px;
  width: 24px;
  margin-right: 18px;
}

.hamburgerButton {
  @include flat-button;

  background: url(../../assets/img/ic-hamburger-menu.svg) no-repeat;
  display: inline-block;
  height: 24px;
  width: 24px;
}

.secondaryRowWrapper {
  @include navRow;

  max-height: 60px;
  overflow-y: hidden;
  transition: max-height 0.2s;

  &.hide {
    max-height: 0;
  }
}

.secondaryRow {
  padding: 5px;
}

.secondarySearchField {
  $font-size: 18px;

  border: 3px transparent;
  background:
    url(../../assets/img/ic-search.png) 15px center/18px 18px no-repeat,
    #f9f9f9;
  color: #888888;
  font-size: $font-size;
  line-height: (26 / 18);
  padding: 9px 22px 9px 43px;

  &::placeholder {
    font-size: $font-size;
    font-style: normal;
  }
}
